/* default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

input,
button {
    font-size: 100%;
    font-family: inherit;
    appearance: none;
    outline: none;
    border: none;
}

/* body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header */
header {
    position: relative;
    padding: 2rem;
}

#book-icon {
    position: absolute;
    left: 2rem;
}

#book-icon,
#book-icon > img {
    width: 2rem;
    height: 2rem;
}

h1 {
    text-align: center;
}

/* main */
main {
    flex-grow: 1;
    padding: 2rem;
}

#library {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.card {
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
    display: grid;
    row-gap: 0.25rem;
}

.del-btn {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid black;
    background-color: white;
    justify-self: end;
}

.card > i,
.card > i > img {
    width: 8rem;
    height: 8rem;
}

.card > i,
.card > div:nth-child(3) {
    justify-self: center;
}

.card .read-container {
    justify-self: end;
    column-gap: 0.25rem;
}

#add-book-button {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
    border: 1px solid black;
    border-radius: 50%;
}

/* dialog and form */
dialog {
    margin: auto;
    padding: 1.5rem;
    background-color: lightblue;
}

dialog > p {
    margin-bottom: 1rem;
}

form {
    display: grid;
    row-gap: 0.75rem;
}

form > div {
    display: grid;
    align-items: start;
    row-gap: 0.25rem;
}

input[type="text"]{
    border-radius: 1rem;
    padding-left: 0.25rem;
}

/* read input */
.read-container {
    display: grid;
    grid-template-columns: 1fr auto;
}

.read-switch {
    position: relative;
    width: 2.5rem;
}

.slider {
    position: absolute;
    right: 0;
    width: 2.5rem;
    height: 100%;
    background-color: gray;
    border-radius: 1rem;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}

.slider::before {
    position: absolute;
    left: 0.25rem;
    top: 0.2rem;
    content: "";
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: white;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}

input[type="checkbox"]:checked + .slider {
    background-color: cornflowerblue;
}

input[type="checkbox"]:checked + .slider::before {
    transform: translateX(1.25rem);
    -webkit-transform: translateX(1.25rem);
    -ms-transform: translateX(1.25rem);;
}

/* form buttons */
#form-buttons {
    display: grid;
    grid-auto-flow: column;
    align-content: end;
    justify-content: space-between;
}

#form-buttons > button {
    width: 4.5rem;
    height: 1.5rem;
    border-radius: 1rem;
}

/* footer */
footer {
    text-align: center;
    padding: 0.5rem;
}